@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@config "../tailwind.config.ts";

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-background {
  background-color: #f9f5f0;
  background-image: radial-gradient(
      35% 45% at 25% 50%,
      rgba(210, 230, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.4) 30%,
      transparent 80%
    ),
    radial-gradient(
      45% 55% at 70% 60%,
      rgba(31, 42, 54, 0.12) 0%,
      transparent 100%
    ),
    radial-gradient(
      80% 80% at 50% 80%,
      rgba(220, 235, 255, 0.55) 0%,
      transparent 100%
    );

  background-size: 200% 200%;
  animation: stripeFlow 18s ease-in-out infinite alternate;
}

@keyframes stripeFlow {
  0% {
    background-position: 25% 40%, 60% 60%, 50% 80%;
  }
  50% {
    background-position: 30% 60%, 65% 70%, 55% 90%;
  }
  100% {
    background-position: 40% 80%, 70% 50%, 60% 70%;
  }
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* black glassmorphism */
.black-glassmorphism {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 16px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.eth-card {
  background-color: #1a1a1a;
  background-image: radial-gradient(
      at 83% 67%,
      rgba(255, 255, 255, 0.2) 0,
      transparent 58%
    ),
    radial-gradient(at 67% 20%, rgba(180, 180, 180, 0.15) 0, transparent 59%),
    radial-gradient(at 88% 35%, rgba(90, 90, 90, 0.3) 0, transparent 50%),
    radial-gradient(at 31% 91%, rgba(255, 255, 255, 0.08) 0, transparent 52%),
    radial-gradient(at 27% 71%, rgba(160, 160, 160, 0.12) 0, transparent 49%),
    radial-gradient(at 74% 89%, rgba(100, 100, 100, 0.15) 0, transparent 51%),
    radial-gradient(at 53% 75%, rgba(200, 200, 200, 0.1) 0, transparent 45%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(
      at 4% 36%,
      hsla(0, 0%, 100%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
